@font-face {
  font-family: "Amasis";
  font-style: normal;
  font-weight: bold;
  src: url('http://dgnvhpcjbd3ba.cloudfront.net/AmasisMTStd-bold.eot?#iefix') format('embedded-opentype'),
  url('http://dgnvhpcjbd3ba.cloudfront.net/AmasisMTStd-bold.woff2') format('woff2'),
  url('http://dgnvhpcjbd3ba.cloudfront.net/AmasisMTStd-bold.woff') format('woff'),
  url('http://dgnvhpcjbd3ba.cloudfront.net/AmasisMTStd-bold.ttf') format('truetype');
}

div {
  display: block;
}

body {
  font-family: Roboto,Arial,sans-serif;
}

.jv-page {
  margin: 0 auto;
  width: 780px;
}

/*HEADER*/

h1.jv-logo>a {
  font-family: "Amasis";
  color: #75227d !important;
}

h2.jv-header {
  font-family: "AmasisMTStd-bold";
} 

h3, h3.jv-share-widget-title, h3.jv-step-header, b {
  font-family: "AmasisMTStd-bold";
  color: #75227d;
}

h3#jv-resume-header.jv-step-header {
  color: #75227d;
}

p, span, div.jv-meta, td.jv-job-list-name, table.jv-job-list-name {
  color: #555;
}

div.jv-current-openings>a {
  color: #75227d;;
}

.jv-page-job .jv-header {
  padding-right: 4em;
}

td.jv-job-list-name>a {
  color: #000;
}

.jv-current-openings {
  margin-top: 1em;
}
