// DESKTOP
@font-face {
  font-family: "Amasis";
  font-style: normal;
  font-weight: bold;
  src: url('http://dgnvhpcjbd3ba.cloudfront.net/AmasisMTStd-bold.eot?#iefix') format('embedded-opentype'),
  url('http://dgnvhpcjbd3ba.cloudfront.net/AmasisMTStd-bold.woff2') format('woff2'),
  url('http://dgnvhpcjbd3ba.cloudfront.net/AmasisMTStd-bold.woff') format('woff'),
  url('http://dgnvhpcjbd3ba.cloudfront.net/AmasisMTStd-bold.ttf') format('truetype');
}

body.jv-desktop {

  font-family: Roboto,Arial,sans-serif;

  h1.jv-logo>a {
    font-family: "Amasis";
    color: #75227d !important;
  }

  h2.jv-header {
    font-family: "AmasisMTStd-bold";
  } 

  h3, h3.jv-share-widget-title, h3.jv-step-header, b {
    font-family: "AmasisMTStd-bold";
    color: #75227d;
  }

  h3#jv-resume-header.jv-step-header {
    color: #75227d;
  }

  p, div.jv-meta, td.jv-job-list-name, table.jv-job-list-name {
    color: #555;
  }

  div.jv-current-openings>a {
    color: #75227d;;
  }

  td.jv-job-list-name>a {
    color: #000;
  }

}

// MOBILE

body.jv-mobile {

  .jv-nav, .jv-job-list-inner  {
    background: #8f448a !important;
  }

  .jv-button-primary {
    background-color: #8f448a !important;
    border-color: #75227d !important;
  }

  .jv-button-primary:active {
    background-color: #75227d !important;
  }

  .jv-button-hollow, .jv-button-hollow:visited {
    background: transparent;
    border-color: #8f448a !important;
    color: #8f448a !important;
  }

  .cssanimations .jv-spinner, .cssanimations .jv-master-spinner {
    border-top-color: #8f448a !important;
  }

  .jv-icon-primary, .jv-add-attachment-item .jv-attachment-icon, .jv-text-link, .jv-search-list .jv-list-label, .jv-search-list .jv-list-icon, .jv-job-category-link, .jv-list-icon, .jv-job-category-label  {
    color: #8f448a !important;
  }

  .jv-page-header {
    background-color: #8f448a !important;
  }

  .jv-tabs {
    background: #8f448a !important;
    border-top: solid 1px #d6a6db !important;
  }

  .jv-tab-active:before {
    border-top: 10px solid #8f448a !important;
  }

  .jv-tab {
    border-left: solid 1px #d6a6db !important;
  }

  .jv-logo:after {
    background: -owg-linear-gradient(left, rgba(61, 135, 207, 0), #8f448a 40%);
    background: -webkit-linear-gradient(left, rgba(61, 135, 207, 0), #8f448a 0%);
    background: -moz-linear-gradient(left, rgba(61, 135, 207, 0), #8f448a 40%);
    background: -o-linear-gradient(left, rgba(61, 135, 207, 0), #8f448a 40%);
    background: linear-gradient(left, rgba(61, 135, 207, 0), #8f448a 40%);
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 1.5em
  }

  .jv-submit-spinner {
    border: 3px solid #8f448a !important;
  }

  .jv-button-primary:hover {
    background-color: #a95ba6 !important;
  }

  .jv-nav-icon {
    color: #d6a6db !important;
  }

  .jv-job-list .jv-list-link {
    border-color: #d6a6db !important;
  }

}
